# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. Scala
    5. Java

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas (for cleaning and analyzing data)
    2. Matplotlib (for data visualization)
    3. Scikit (for machine learning)
    4. Apache Spark (for cluster computing needed to process large data sets)

| Data Science Tools |
| ---- |
| Jupyter Notebooks |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60

(200/60)

3.3333333333333335

**Objectives:**

  - Listing popular Data Science languages
- Listing popular Data Science libraries
 - Making a table via markdown cell
- Showing how code cells can perform simple arithmetic

## Author
Yale Vervloet